* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
}

.header-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.header-content .logo img {
    margin-left: 100px;
    height: 150px;
}

.item-header h1 {
    color: green;
    font-weight: bold;
    font-size: 1.8rem;
}

.item-header h3 {
    color: red;
    font-weight: 550;
    font-size: 1.3rem;
}

.item-header p {
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 0.75;
}

.header-menu  {
    background-color: rgb(38, 141, 35);
    height: 50px;
    
}
.header-menu .item-menu {
    margin-left: 115px;
    display: flex;
    padding-top: 18px;
}

.item-menu a {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    color: aliceblue;
}
